.body{
    font-size: 24px;
}

 
.block {
    margin-right: 250px;
    font-size: 27px;
}

.block2 {
    float: right;
    border: 6px solid rgb(240, 84, 84);
    border-radius: 10px;
    padding: 50px;
    width: 350px;
}

.img {
    width: 100%;
    float: right;
    border-radius: 6px;
}

.block2_text {
    text-align: right;
    margin-right: 100px;
    font-size: 17px;
}

.block3 {
    font-size: 25px;
    width: 1000px;
    border: 3px solid rgb(240, 84, 84);
    border-radius: 15px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 60px;

}

.block4 {
    margin-top: 60px;
    font-size: 25px;
}

